@page "{id:int}"
@model Consultas.Web.Pages.Especialidades.DetailsModel

<h1 class="mb-3">Detalhes do médico</h1>

<div class="row">
    <div class="col">
        <p>
            <strong>Nome:</strong>
            @Model.Especialidades.Nome
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Descriçao:</strong>
            @Model.Especialidades.Descricao
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            <strong>Medicos:</strong>
            <br />
            @foreach (var medico in @Model.Especialidades.Medicos)
            {
                <tr>

                    <td>
                        @($"{medico.Nome} {medico.Sobrenome}")
                    </td>
                    <td>
                        @Html.DisplayFor(model => medico.CRM)
                    </td>
                    <td>
                        @Html.DisplayFor(model => medico.Email)
                    </td>
                </tr>
                <br />
            }
        </p>

    </div>
</div>
<form method="post" class="form">
    <div class="form-group">
        <a asp-page="/Especialidades/Index"
           class="btn btn-secondary">
            Voltar
        </a>
    </div>
</form>