@page
@model Consultas.Web.Pages.Consultas.CreateModel

<h1 class="mb-3">Cadastrar consulta</h1>

<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Consulta.IdMedico"></label>
                <select asp-for="Consulta.IdMedico" class="form-control">
                    <option selected disabled>-- Selecione um médico --</option>
                    @foreach (var item in Model.MedicosList)
                    {
                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="Consulta.IdMedico"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Consulta.IdPaciente"></label>
                <select asp-for="Consulta.IdPaciente" class="form-control">
                    <option selected disabled>-- Selecione um paciente --</option>
                    @foreach (var item in Model.PacientesList)
                    {
                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="Consulta.IdPaciente"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Consulta.IdRecepcionista"></label>
                <select asp-for="Consulta.IdRecepcionista" class="form-control">
                    <option selected disabled>-- Selecione um recepcionista --</option>
                    @foreach (var item in Model.RecepcionistasList)
                    {
                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="Consulta.IdRecepcionista"
                        class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Consulta.Data"></label>
                <input 
                     asp-for="Consulta.Data"   
                     type="datetime-local"
                     class="form-control"
                />
                <span asp-validation-for="Consulta.Data"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Consulta.TipoConsulta"></label>
                    <select asp-for="Consulta.TipoConsulta" class="form-control">
                        <option selected disabled>-- Selecione um tipo de consulta --</option>
                        @foreach (var item in Model.TipoConsulta)
                        {
                            <option value="@item.Value">
                                @item.Text
                            </option>
                        }
                    </select>
                    <span asp-validation-for="Consulta.TipoConsulta"
                          class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Consulta.Descricao"></label>
            <textarea asp-for="Consulta.Descricao" class="form-control">
            </textarea>
            <span asp-validation-for="Consulta.Descricao"
                  class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit"
               class="btn btn-primary"
               value="Salvar" />
        <a asp-page="/Consultas/Index"
           class="btn btn-secondary">
            Cancelar
        </a>
    </div>
</form>
