@page "{id:int}"
@model Consultas.Web.Pages.Consultas.DeleteModel

<h1 class="mb-3">Detalhes da consulta para remover</h1>

<div class="row">
    <div class="col">
        <p>
            <strong>Médico:</strong>
            @($"{Model.Consulta.Medico.Nome} {Model.Consulta.Medico.Sobrenome}")
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Paciente:</strong>
            @($"{Model.Consulta.Paciente.PrimeiroNome} {Model.Consulta.Paciente.Sobrenome}")
        </p>
    </div>
    <div class="col">
        <p>
            <strong>Recpcionista:</strong>
            @($"{Model.Consulta.Recepcionista.PrimeiroNome} {Model.Consulta.Recepcionista.Sobrenome}")
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            <strong>Data:</strong>
            @Model.Consulta.Data
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Tipo da Consulta:</strong>
            @Model.Consulta.TipoConsulta
        </p>
    </div>
</div>
<div class="row">
    <p>
        <strong>TDescrição:</strong>
        @Model.Consulta.Descricao
    </p>
</div>

<form method="post" class="form">
    <div class="form-group">
        <input type="submit"
               value="Excluir"
               class="btn btn-danger" />
        <a asp-page="/Consultas/Index"
           class="btn btn-secondary">
            Voltar
        </a>
    </div>
</form>