@page "{id:int}"
@model Consultas.Web.Pages.Consultas.DetailsModel

<h1 class="mb-3">Detalhes da consulta</h1>

<div class="row">
    <div class="col">
        <p>
            <strong>Médico:</strong>
            @($"{Model.Consulta.Medico.Nome} {Model.Consulta.Medico.Sobrenome}")
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Paciente:</strong>
            @($"{Model.Consulta.Paciente.PrimeiroNome} {Model.Consulta.Paciente.Sobrenome}")
        </p>
    </div>
    <div class="col">
        <p>
            <strong>Recpcionista:</strong>
            @($"{Model.Consulta.Recepcionista.PrimeiroNome} {Model.Consulta.Recepcionista.Sobrenome}")
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            <strong>Data:</strong>
            @Model.Consulta.Data
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Tipo da Consulta:</strong>
            @Model.Consulta.TipoConsulta
        </p>
    </div>
</div>
<div class="row">
    <p>
        <strong>Descrição:</strong>
        @Model.Consulta.Descricao
    </p>
</div>