@page "{id:int}"
@model Consultas.Web.Pages.Medicos.DetailsModel

<h1 class="mb-3">Detalhes do médico</h1>

<div class="row">
    <div class="col">
        <p>
            <strong>Nome:</strong>
            @($"{Model.Medico.Nome} {Model.Medico.Sobrenome}")
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Email:</strong>
            @Model.Medico.Email
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            <strong>CRM:</strong>
            @Model.Medico.CRM
        </p>

    </div>
    <div class="col">
        <p>
            <strong>Especialidade:</strong>
            @Model.Medico.Especialidade.Nome
        </p>
    </div>
</div>
<a 
    asp-page="/Medicos/Horarios/Index" 
    asp-route-id="@Model.Medico.Id"
    class="btn btn-primary"
>
    Horários
</a>